body {
    background-color: blue;
}

#jumbo {
    color:yellow;
    text-align: center;
    font-family: Chango;
}

#fridge {
    border: 2px solid pink;
    height: 1000px;
}

.row {
    color: pink;
    font-family: Chango;
}